* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #fff;
    --secondary-color: #9bc5bd;
    --tertiary-color: #024e76;
    --quad-color: #fce138;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

/* apply styles to <header> */
header {
    padding: 20px 35px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    /* background-image: url("../assets/Images/header-image.avif"); */
    /* background: rgba(76, 175, 80, 0.3); */
    background-size: cover;
    background-position: 132%;
    background-size: contain;
    /* background-attachment: fixed; */
    z-index: 9999;
    /* background-repeat: no-repeat; */
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--quad-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

header a {
    position: relative;
    text-decoration: none;
    color: var(--primary-color);
    z-index: 1;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background: var(--tertiary-color);
    color: var(--primary-color);
    border-radius: 15px;
    text-shadow: none;
}
/* footer */
footer {
    background: var(--tertiary-color);
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* background-image: url("../assets/Images/header-image.avif");
    /* background: rgba(76, 175, 80, 0.3); */
    /* background-size: cover;
    background-position: 132%;
    background-size: contain; */
    /* background-attachment: fixed; */
    /* z-index: 9999; */
}

footer h2 {
    color: var(--primary-color);
    font-size: 30px;
    margin: 0;
}

footer div {
    line-height: 1.5;
    text-align: right;
}

footer a {
    color: var(--primary-color);
}

/* section */
section {
    padding: 60px;
}

/* jumbotron */
.jumbotron {
    padding: 0px;
}

.carousel-inner {
    height: 300px;
    border: 0px;
}

/* end jumbotron */

/* age */
.ages {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.age {
    margin: 20px;
    background: var(--tertiary-color);
    color: var(--quad-color);
    flex: 1;
}

.age img {
    width: 100%;
}

.age h3 {
    font-size: 28px;
    text-align: center;
}

.age h4 {
    font-size: 23px;
    text-align: center;
}

/* end age */

/* titles for sections */
.section-title {
    font-size: 48px;
    color: var(--tertiary-color);
    border-bottom: 3px solid;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
}

.primary-border {
    border-color: var(--tertiary-color);
}

.secondary-border {
    border-color: var(--tertiary-color);
}

/* sections end */

/* contact */
.contact-us {
    background: var(--secondary-color);
}

.contact-us h2 {
    color: var(--tertiary-color);
}

.contact-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-info iframe {
    height: 400px;
}

.contact-info div {
    color: white;
}

.contact-info h3 {
    color: var(--tertiary-color);
    font-size: 32px;
}

.contact-info p, .contact-info address {
    margin: 20px 0;
    line-height: 1.5;
    font-size: 20px;
    font-style: normal;
}


/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
        /* position: relative // gets rid of sticky */
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }

    footer h2, footer div {
        text-align: center;
        width: 100%;
        font-size: 25px;
    }

    section {
        padding: 25px;
    }

    .section-title {
        width: 80%;
    }

    .contact-info {
        justify-content: center;
        /* text-align: center; */
    }

    .contact-info iframe {
        flex: 1 100%;
    }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    section {
        padding: 30px 15px;
    }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    .section-title {
        width: 95%;
    }

    .intro p {
        width: 100%;
        text-align: center;
    }

    .contact-info {
        text-align: center;
    }

    .contact-info > * {
        flex: 0 100%;
    }
}